.style 
{
    display: inline-block;
    border-radius: 5px;
    background: #666;
    color: white;
    padding: 5px;
}

.example 
{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

body 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background: #3fc5f0;
    color: #eef5b2;
}

button 
{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background: #42dee1;
    color: #eef5b2;
    font-weight: bold;
}

.form-lvl-1_9 
{
    padding: 5px;
    display: inline-block;
    background: #999;
    border-radius: 5px;
}

.btn-lvl-1_9 {
    background: #333;
    color: white;
}

.level-2_1-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.listContainer {
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
/* 
#myList {
    
    display: block;
    background-color: inherit;
} */
h2
{
    color: black;
}